body{
    width: 100%;
    background: #141414;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 68px;
}
container_1{
    width: 90%;
    margin: 0 auto;
}
.lineOne{
    margin-right: 4rem;
    margin-left: 50px;
}
.section_1{
    height: 30px;
   flex-grow: 1;
}
.logo{
    width: 80px;
    height: 50px;
}
.navigation{
    position: fixed;
    top: 0;
    background-color: rgb(20, 20, 20);
}
.nav-item{
    font-size: 11.3342px;
}
.nav_icon{
    display: inline-block;
}
.searchTab{
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
.kids_icon{
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
.notification{
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
.account{
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}
.title{
    display: inline-block;
}
.genres{
    width: 60px;
    border: 1px solid white;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    margin-top: 3px;
}
.icons{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid white;
}
.innerSec1{
    display: inline-block;
    
}
.heading{
    font-size: 15px;
    margin-left: 50px;
    line-height: 3;
    
}
.flex{
    display: flex;
}
trending{
    margin-left: 50px;
}
footer{
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    color: grey;
    margin-bottom: 1rem;
}
.socialIcon{
    color: grey;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 1rem;
}
.footerText{
    flex-direction: column;
}
.footerColumn{
    flex-direction: row;
    justify-content: space-between;
}
.service_code{
    border: 1px solid white;
    width: 110px;
    text-align: center;
    margin-top: 2rem;
}
.copyRight{
    font-size: 10px;
    margin-top: 20px;
}

